In [120]:
import pandas

jmena = pandas.read_csv("jmena.csv")

In [121]:

jmena = jmena.set_index("jméno")
print(jmena.index)

Index(['Jiří', 'Jan', 'Petr', 'Jana', 'Marie', 'Josef', 'Pavel', 'Martin',
       'Tomáš', 'Jaroslav', 'Eva', 'Miroslav', 'Hana', 'Anna', 'Zdeněk',
       'Václav', 'Michal', 'František', 'Lenka', 'Kateřina', 'Lucie', 'Jakub',
       'Milan', 'Věra', 'Alena', 'Karel', 'Lukáš', 'Petra', 'David',
       'Veronika', 'Jaroslava', 'Vladimír', 'Tereza', 'Martina', 'Michaela',
       'Jitka', 'Ondřej', 'Helena', 'Ludmila', 'Ladislav', 'Zdeňka', 'Ivana',
       'Roman', 'Monika', 'Marek', 'Stanislav', 'Eliška', 'Zuzana', 'Daniel',
       'Markéta', 'Jarmila', 'Radek', 'Barbora', 'Jiřina', 'Antonín',
       'Marcela', 'Vojtěch', 'Kristýna', 'Dana', 'Dagmar', 'Filip', 'Adam',
       'Adéla', 'Pavla', 'Vlasta', 'Andrea', 'Miroslava', 'Irena', 'Božena',
       'Klára', 'Libuše', 'Marta', 'Matěj', 'Šárka', 'Nikola', 'Karolína',
       'Iveta', 'Pavlína', 'Natálie', 'Olga', 'Dominik', 'Aleš', 'Miloslav',
       'Blanka', 'Gabriela', 'Jaromír', 'Patrik', 'Renata', 'Libor', 'Aneta',
       'Simona', 'Růžena', 'Radka', 'Daniela', 'Denisa', 'Jindřich',
       'Vlastimil', 'Iva', 'Miloš', 'Zdenka'],
      dtype='object', name='jméno')

In [122]:
print(jmena.loc["Jiří"])

četnost    296090
věk            49
pohlaví         m
svátek       24.4
původ       řecký
Name: Jiří, dtype: object

In [123]:
print(jmena.loc["Jiří"])

četnost    296090
věk            49
pohlaví         m
svátek       24.4
původ       řecký
Name: Jiří, dtype: object

In [124]:
print(jmena.loc[["Zuzana","Martina","Josef"]])

         četnost  věk pohlaví svátek      původ
jméno
Zuzana     61382   34       ž   11.8  hebrejský
Martina    81312   36       ž   17.7   latinský
Josef     211317   57       m   19.3  hebrejský

In [125]:
holky = (jmena.loc["Martina":"Zuzana", "věk"])

In [126]:
jmena.loc["Libor":,["věk","původ"]]

           věk      původ
jméno
Libor       44   latinský
Aneta       17  hebrejský
Simona      30  hebrejský
Růžena      69  slovanský
Radka       38  slovanský
Daniela     38  hebrejský
Denisa      23      řecký
Jindřich    51    německý
Vlastimil   54  slovanský
Iva         46  slovanský
Miloš       53  slovanský
Zdenka      68  slovanský

In [127]:
jmena.loc[:,"věk":"původ"]

           věk pohlaví        svátek      původ
jméno
Jiří        49       m          24.4      řecký
Jan         40       m   24.6. a 6.7  hebrejský
Petr        42       m  22.2. a 29.6      řecký
Jana        50       ž          24.5  hebrejský
Marie       65       ž          12.9  hebrejský
...        ...     ...           ...        ...
Jindřich    51       m          15.7    německý
Vlastimil   54       m          17.3  slovanský
Iva         46       ž          1.12  slovanský
Miloš       53       m          25.1  slovanský
Zdenka      68       ž          23.6  slovanský

[100 rows x 4 columns]