In [1]:
import pandas


staty = pandas.read_json("staty.json")

In [2]:
staty = staty.set_index("name")

In [3]:
staty.index

Index(['Afghanistan', 'Åland Islands', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda',
       ...
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Wallis and Futuna',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='name', length=250)

In [4]:
staty.loc["Czech Republic"]

alpha2Code                CZ
alpha3Code               CZE
capital               Prague
region                Europe
subregion     Eastern Europe
population          10558524
area                 78865.0
gini                    26.0
Name: Czech Republic, dtype: object

In [5]:
staty.loc["Czech Republic", "population"]

10558524

In [6]:
staty.loc[:"Andorra"]
staty.loc["Uzbekistan":]
staty.loc[["Czech Republic", "Slovakia"]]
staty.loc[["Slovakia", "Poland", "Germany", "Austria"], ["area", "population"]]

              area  population
name
Slovakia   49037.0     5426252
Poland    312679.0    38437239
Germany   357114.0    81770900
Austria    83871.0     8725931

In [7]:
staty.loc[["Czech Republic", "Andorra"]].iloc[:,:3]

               alpha2Code alpha3Code           capital
name
Czech Republic         CZ        CZE            Prague
Andorra                AD        AND  Andorra la Vella

In [8]:
staty.iloc[1:5]

,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini
name,,,,,,,,
Åland Islands,AX,ALA,Mariehamn,Europe,Northern Europe,28875,1580.0,NaN
Albania,AL,ALB,Tirana,Europe,Southern Europe,2886026,28748.0,34.5
Algeria,DZ,DZA,Algiers,Africa,Northern Africa,40400000,2381741.0,35.3
American Samoa,AS,ASM,Pago Pago,Oceania,Polynesia,57100,199.0,NaN

In [9]:
#series_name = df["nazev_sloupce"]
populace = staty["population"]
populace

name
Afghanistan          27657145
Åland Islands           28875
Albania               2886026
Algeria              40400000
American Samoa          57100
                       ...
Wallis and Futuna       11750
Western Sahara         510713
Yemen                27478000
Zambia               15933883
Zimbabwe             14240168
Name: population, Length: 250, dtype: int64

In [10]:
populace.sum()

7349137231

In [11]:
print(f"Prumer je {populace.mean()}.")
print(f"Minumum je {populace.min()}.")
print(f"Maximum je {populace.max()}.")
print(f"Median je {populace.median()}.")

Prumer je 29396548.924.
Minumum je 0.
Maximum je 1377422166.
Median je 4648733.5.

In [12]:
staty["area"].max()

17124442.0

In [13]:
populace.describe()

count    2.500000e+02
mean     2.939655e+07
std      1.244578e+08
min      0.000000e+00
25%      2.029030e+05
50%      4.648734e+06
75%      1.803955e+07
max      1.377422e+09
Name: population, dtype: float64

In [14]:
staty["population"] < 1000

name
Afghanistan          False
Åland Islands        False
Albania              False
Algeria              False
American Samoa       False
                     ...
Wallis and Futuna    False
Western Sahara       False
Yemen                False
Zambia               False
Zimbabwe             False
Name: population, Length: 250, dtype: bool

In [15]:
pidistaty = staty[staty["population"] < 1000]
pidistaty

,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini
name,,,,,,,,
Bouvet Island,BV,BVT,,,,0,49.00,NaN
United States Minor Outlying Islands,UM,UMI,,Americas,Northern America,300,NaN,NaN
Cocos (Keeling) Islands,CC,CCK,West Island,Oceania,Australia and New Zealand,550,14.00,NaN
French Southern Territories,TF,ATF,Port-aux-Français,Africa,Southern Africa,140,7747.00,NaN
Heard Island and McDonald Islands,HM,HMD,,,,0,412.00,NaN
Holy See,VA,VAT,Rome,Europe,Southern Europe,451,0.44,NaN
Pitcairn,PN,PCN,Adamstown,Oceania,Polynesia,56,47.00,NaN
South Georgia and the South Sandwich Islands,GS,SGS,King Edward Point,Americas,South America,30,NaN,NaN

In [16]:
staty.query("population<1000")
#tohle je SQL, můžu psát normálně and atd

,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini
name,,,,,,,,
Bouvet Island,BV,BVT,,,,0,49.00,NaN
United States Minor Outlying Islands,UM,UMI,,Americas,Northern America,300,NaN,NaN
Cocos (Keeling) Islands,CC,CCK,West Island,Oceania,Australia and New Zealand,550,14.00,NaN
French Southern Territories,TF,ATF,Port-aux-Français,Africa,Southern Africa,140,7747.00,NaN
Heard Island and McDonald Islands,HM,HMD,,,,0,412.00,NaN
Holy See,VA,VAT,Rome,Europe,Southern Europe,451,0.44,NaN
Pitcairn,PN,PCN,Adamstown,Oceania,Polynesia,56,47.00,NaN
South Georgia and the South Sandwich Islands,GS,SGS,King Edward Point,Americas,South America,30,NaN,NaN

In [17]:
staty[(staty["population"] > 20000)& (staty["region"] == "Europe")]

,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini
name,,,,,,,,
Åland Islands,AX,ALA,Mariehamn,Europe,Northern Europe,28875,1580.00,NaN
Albania,AL,ALB,Tirana,Europe,Southern Europe,2886026,28748.00,34.5
Andorra,AD,AND,Andorra la Vella,Europe,Southern Europe,78014,468.00,NaN
Austria,AT,AUT,Vienna,Europe,Western Europe,8725931,83871.00,26.0
Belarus,BY,BLR,Minsk,Europe,Eastern Europe,9498700,207600.00,26.5
Belgium,BE,BEL,Brussels,Europe,Western Europe,11319511,30528.00,33.0
Bosnia and Herzegovina,BA,BIH,Sarajevo,Europe,Southern Europe,3531159,51209.00,36.2
Bulgaria,BG,BGR,Sofia,Europe,Eastern Europe,7153784,110879.00,28.2
Croatia,HR,HRV,Zagreb,Europe,Southern Europe,4190669,56594.00,33.7
Cyprus,CY,CYP,Nicosia,Europe,Southern Europe,847000,9251.00,NaN
Czech Republic,CZ,CZE,Prague,Europe,Eastern Europe,10558524,78865.00,26.0
Denmark,DK,DNK,Copenhagen,Europe,Northern Europe,5717014,43094.00,24.0
Estonia,EE,EST,Tallinn,Europe,Northern Europe,1315944,45227.00,36.0
Faroe Islands,FO,FRO,Tórshavn,Europe,Northern Europe,49376,1393.00,NaN
Finland,FI,FIN,Helsinki,Europe,Northern Europe,5491817,338424.00,26.9
France,FR,FRA,Paris,Europe,Western Europe,66710000,640679.00,32.7
Germany,DE,DEU,Berlin,Europe,Western Europe,81770900,357114.00,28.3
Gibraltar,GI,GIB,Gibraltar,Europe,Southern Europe,33140,6.00,NaN
Greece,GR,GRC,Athens,Europe,Southern Europe,10858018,131990.00,34.3
Guernsey,GG,GGY,St. Peter Port,Europe,Northern Europe,62999,78.00,NaN
Hungary,HU,HUN,Budapest,Europe,Eastern Europe,9823000,93028.00,31.2
Iceland,IS,ISL,Reykjavík,Europe,Northern Europe,334300,103000.00,NaN
Ireland,IE,IRL,Dublin,Europe,Northern Europe,6378000,70273.00,34.3
Isle of Man,IM,IMN,Douglas,Europe,Northern Europe,84497,572.00,NaN
Italy,IT,ITA,Rome,Europe,Southern Europe,60665551,301336.00,36.0
Jersey,JE,JEY,Saint Helier,Europe,Northern Europe,100800,116.00,NaN
Latvia,LV,LVA,Riga,Europe,Northern Europe,1961600,64559.00,36.6
Liechtenstein,LI,LIE,Vaduz,Europe,Western Europe,37623,160.00,NaN
Lithuania,LT,LTU,Vilnius,Europe,Northern Europe,2872294,65300.00,37.6
Luxembourg,LU,LUX,Luxembourg,Europe,Western Europe,576200,2586.00,30.8
Macedonia (the former Yugoslav Republic of),MK,MKD,Skopje,Europe,Southern Europe,2058539,25713.00,43.2
Malta,MT,MLT,Valletta,Europe,Southern Europe,425384,316.00,NaN
Moldova (Republic of),MD,MDA,Chișinău,Europe,Eastern Europe,3553100,33846.00,33.0
Monaco,MC,MCO,Monaco,Europe,Western Europe,38400,2.02,NaN
Montenegro,ME,MNE,Podgorica,Europe,Southern Europe,621810,13812.00,30.0
Netherlands,NL,NLD,Amsterdam,Europe,Western Europe,17019800,41850.00,30.9
Norway,NO,NOR,Oslo,Europe,Northern Europe,5223256,323802.00,25.8
Poland,PL,POL,Warsaw,Europe,Eastern Europe,38437239,312679.00,34.1
Portugal,PT,PRT,Lisbon,Europe,Southern Europe,10374822,92090.00,38.5
Republic of Kosovo,XK,KOS,Pristina,Europe,Eastern Europe,1733842,10908.00,NaN
Romania,RO,ROU,Bucharest,Europe,Eastern Europe,19861408,238391.00,30.0
Russian Federation,RU,RUS,Moscow,Europe,Eastern Europe,146599183,17124442.00,40.1
San Marino,SM,SMR,City of San Marino,Europe,Southern Europe,33005,61.00,NaN
Serbia,RS,SRB,Belgrade,Europe,Southern Europe,7076372,88361.00,27.8
Slovakia,SK,SVK,Bratislava,Europe,Eastern Europe,5426252,49037.00,26.0
Slovenia,SI,SVN,Ljubljana,Europe,Southern Europe,2064188,20273.00,31.2
Spain,ES,ESP,Madrid,Europe,Southern Europe,46438422,505992.00,34.7
Sweden,SE,SWE,Stockholm,Europe,Northern Europe,9894888,450295.00,25.0
Switzerland,CH,CHE,Bern,Europe,Western Europe,8341600,41284.00,33.7
Ukraine,UA,UKR,Kiev,Europe,Eastern Europe,42692393,603700.00,26.4
United Kingdom of Great Britain and Northern Ireland,GB,GBR,London,Europe,Northern Europe,65110000,242900.00,34.0

In [18]:
staty.query("population > 20000000 and region == 'Europe'")

,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini
name,,,,,,,,
France,FR,FRA,Paris,Europe,Western Europe,66710000,640679.0,32.7
Germany,DE,DEU,Berlin,Europe,Western Europe,81770900,357114.0,28.3
Italy,IT,ITA,Rome,Europe,Southern Europe,60665551,301336.0,36.0
Poland,PL,POL,Warsaw,Europe,Eastern Europe,38437239,312679.0,34.1
Russian Federation,RU,RUS,Moscow,Europe,Eastern Europe,146599183,17124442.0,40.1
Spain,ES,ESP,Madrid,Europe,Southern Europe,46438422,505992.0,34.7
Ukraine,UA,UKR,Kiev,Europe,Eastern Europe,42692393,603700.0,26.4
United Kingdom of Great Britain and Northern Ireland,GB,GBR,London,Europe,Northern Europe,65110000,242900.0,34.0

In [19]:
staty[staty["subregion"].isin(["Western Europe", "Eastern Europe"])]

,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini
name,,,,,,,,
Austria,AT,AUT,Vienna,Europe,Western Europe,8725931,83871.00,26.0
Belarus,BY,BLR,Minsk,Europe,Eastern Europe,9498700,207600.00,26.5
Belgium,BE,BEL,Brussels,Europe,Western Europe,11319511,30528.00,33.0
Bulgaria,BG,BGR,Sofia,Europe,Eastern Europe,7153784,110879.00,28.2
Czech Republic,CZ,CZE,Prague,Europe,Eastern Europe,10558524,78865.00,26.0
France,FR,FRA,Paris,Europe,Western Europe,66710000,640679.00,32.7
Germany,DE,DEU,Berlin,Europe,Western Europe,81770900,357114.00,28.3
Hungary,HU,HUN,Budapest,Europe,Eastern Europe,9823000,93028.00,31.2
Liechtenstein,LI,LIE,Vaduz,Europe,Western Europe,37623,160.00,NaN
Luxembourg,LU,LUX,Luxembourg,Europe,Western Europe,576200,2586.00,30.8
Moldova (Republic of),MD,MDA,Chișinău,Europe,Eastern Europe,3553100,33846.00,33.0
Monaco,MC,MCO,Monaco,Europe,Western Europe,38400,2.02,NaN
Netherlands,NL,NLD,Amsterdam,Europe,Western Europe,17019800,41850.00,30.9
Poland,PL,POL,Warsaw,Europe,Eastern Europe,38437239,312679.00,34.1
Republic of Kosovo,XK,KOS,Pristina,Europe,Eastern Europe,1733842,10908.00,NaN
Romania,RO,ROU,Bucharest,Europe,Eastern Europe,19861408,238391.00,30.0
Russian Federation,RU,RUS,Moscow,Europe,Eastern Europe,146599183,17124442.00,40.1
Slovakia,SK,SVK,Bratislava,Europe,Eastern Europe,5426252,49037.00,26.0
Switzerland,CH,CHE,Bern,Europe,Western Europe,8341600,41284.00,33.7
Ukraine,UA,UKR,Kiev,Europe,Eastern Europe,42692393,603700.00,26.4

In [20]:
# ~something.isin(somewhere) - vezme mi opak, proto ten znak na začátku