In [41]:

import pandas


u202 = pandas.read_csv(
    "https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u202.csv")
u203 = pandas.read_csv(
    "https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u203.csv")
u302 = pandas.read_csv(
    "https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u302.csv")

In [42]:
print(u202)

    cisloStudenta           predmet  znamka den
0               1            Chemie     NaN  pá
1               2           Dějepis     3.0  pá
2               3        Matematika     2.0  út
3               2  Společenské vědy     2.0  pá
4               4          Biologie     1.0  pá
5               5           Dějepis     1.0  po
6               6            Fyzika     2.0  čt
7               7           Dějepis     4.0  po
8               8        Matematika     2.0  po
9               9           Dějepis     NaN  pá
10             10            Chemie     2.0  st
11              3            Chemie     5.0  út
12             11        Matematika     1.0  st
13             12          Biologie     4.0  st
14             10           Dějepis     5.0  st

In [43]:
u202["znamka"].notna()

0     False
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9     False
10     True
11     True
12     True
13     True
14     True
Name: znamka, dtype: bool

In [44]:
u202["znamka"].isnull()

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
Name: znamka, dtype: bool

In [45]:
testovaci_data = u202[u202['znamka'].isnull()]

In [46]:
testovaci_data.dropna()

Empty DataFrame
Columns: [cisloStudenta, predmet, znamka, den]
Index: []

In [47]:
maturita = pandas.concat([u202, u203, u302])
maturita

    cisloStudenta           predmet  znamka den
0               1            Chemie     NaN  pá
1               2           Dějepis     3.0  pá
2               3        Matematika     2.0  út
3               2  Společenské vědy     2.0  pá
4               4          Biologie     1.0  pá
5               5           Dějepis     1.0  po
6               6            Fyzika     2.0  čt
7               7           Dějepis     4.0  po
8               8        Matematika     2.0  po
9               9           Dějepis     NaN  pá
10             10            Chemie     2.0  st
11              3            Chemie     5.0  út
12             11        Matematika     1.0  st
13             12          Biologie     4.0  st
14             10           Dějepis     5.0  st
0               5  Společenské vědy     3.0  po
1              13        Matematika     5.0  po
2               7       Informatika     3.0  po
3              12            Fyzika     3.0  st
4              14            Fyzika     3.0  st
5              15            Chemie     3.0  pá
6              16       Informatika     2.0  út
7               8           Zeměpis     1.0  po
8              17            Fyzika     4.0  po
9              15  Společenské vědy     3.0  pá
10             19       Informatika     NaN  po
11             20            Fyzika     2.0  čt
12              9  Společenské vědy     NaN  pá
13             21          Biologie     4.0  st
14             22           Zeměpis     3.0  út
0              23       Informatika     1.0  po
1              23  Společenské vědy     1.0  po
2               6        Matematika     5.0  čt
3               4       Informatika     1.0  pá
4              16          Biologie     2.0  út
5              20        Matematika     1.0  čt
6              21       Informatika     4.0  st
7              11            Chemie     5.0  st
8              14           Dějepis     3.0  st
9              19  Společenské vědy     NaN  po
10             13            Chemie     4.0  po
11             22       Informatika     3.0  út
12              1           Zeměpis     NaN  pá
13             17        Matematika     3.0  po

In [48]:
maturita = pandas.concat([u202, u203, u302], ignore_index=True)
maturita

    cisloStudenta           predmet  znamka den
0               1            Chemie     NaN  pá
1               2           Dějepis     3.0  pá
2               3        Matematika     2.0  út
3               2  Společenské vědy     2.0  pá
4               4          Biologie     1.0  pá
5               5           Dějepis     1.0  po
6               6            Fyzika     2.0  čt
7               7           Dějepis     4.0  po
8               8        Matematika     2.0  po
9               9           Dějepis     NaN  pá
10             10            Chemie     2.0  st
11              3            Chemie     5.0  út
12             11        Matematika     1.0  st
13             12          Biologie     4.0  st
14             10           Dějepis     5.0  st
15              5  Společenské vědy     3.0  po
16             13        Matematika     5.0  po
17              7       Informatika     3.0  po
18             12            Fyzika     3.0  st
19             14            Fyzika     3.0  st
20             15            Chemie     3.0  pá
21             16       Informatika     2.0  út
22              8           Zeměpis     1.0  po
23             17            Fyzika     4.0  po
24             15  Společenské vědy     3.0  pá
25             19       Informatika     NaN  po
26             20            Fyzika     2.0  čt
27              9  Společenské vědy     NaN  pá
28             21          Biologie     4.0  st
29             22           Zeměpis     3.0  út
30             23       Informatika     1.0  po
31             23  Společenské vědy     1.0  po
32              6        Matematika     5.0  čt
33              4       Informatika     1.0  pá
34             16          Biologie     2.0  út
35             20        Matematika     1.0  čt
36             21       Informatika     4.0  st
37             11            Chemie     5.0  st
38             14           Dějepis     3.0  st
39             19  Společenské vědy     NaN  po
40             13            Chemie     4.0  po
41             22       Informatika     3.0  út
42              1           Zeměpis     NaN  pá
43             17        Matematika     3.0  po

In [49]:
u202['mistnost'] = 'u202'
u203['mistnost'] = 'u203'
u302['mistnost'] = 'u302'

maturita = pandas.concat([u202, u203, u302], ignore_index=True)

In [50]:
maturita.to_csv('maturita.csv', index=False)

In [51]:
u202['mistnost'] = 'u202'
u203['mistnost'] = 'u203'
u302['mistnost'] = 'u302'

maturita = pandas.concat([u202, u203, u302], ignore_index=True)

In [ ]:
studenti = pandas.read_csv('studenti.csv')
studenti

In [ ]:
propojeny_df = pandas.merge(u202, studenti)

In [ ]:
print(u202.shape)
print(propojeny_df.shape)

In [52]:
preds = pandas.read_csv('predsedajici.csv')

In [53]:
novy_propojeny_df = pandas.merge(propojeny_df, preds)
novy_propojeny_df.head()

NameError: name 'propojeny_df' is not defined

In [ ]:
novy_propojeny_df = pandas.merge(propojeny_df, preds, on=['den'])
novy_propojeny_df

In [ ]:
novy_propojeny_df = pandas.merge(propojeny_df, preds, on=[
                                 'den'], how="left")  # how = "outer"
novy_propojeny_df

In [ ]:
novy_propojeny_df[novy_propojeny_df["datum"].isnull()]

In [ ]:
preds["den"] = preds["den"].str.strip()

In [ ]:
novy_propojeny_df = pandas.merge(propojeny_df, preds, on=['den'], how="left")
novy_propojeny_df

In [ ]:
novy_propojeny_df = novy_propojeny_df.rename(
    columns={'jmeno_x': 'jmeno', 'jmeno_y': 'predseda'})